name: Deno

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deno:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deno-version:
          - v1.x
          - v2.x
    permissions:
      contents: read
    steps:
      - name: Setup repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Deno ${{ matrix.deno-version }}
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Run tests
        run: deno task test

      - name: Generate CodeCov-friendly coverage report
        run: deno task coverage

      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        if: matrix.deno-version == 'v2.x'
        with:
          files: ./lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
