# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Build & Deploy to NPM

on:
  push:    
    branches: [ expand-manifest-types-fekiz ]
    tags:        
      - '*'
    

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Actions checkout
        uses: actions/checkout@v3
      
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org/
          
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: Get the tag name
        run: echo ::set-output name=TAG::${GITHUB_REF#refs/*/}
        #run: echo "TAG=${${github.ref}/refs\/tags\//}" >> $GITHUB_ENV
        #run: echo  ${{github.ref}}  

      - name: Run build_npm.ts
        run: deno run -A build_npm.ts ${{github.event.push.ref}}
        
         
      - name: Publish to NPM    
        run: cd npm && npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}                 
      
        
         
    
    

      


