# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Build & Deploy to NPM

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build:
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - name: Actions checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org/

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x

      - name: Get the tag name
        id: get_tag_name
        run: echo "TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Run build_npm.ts
        run: deno run -A scripts/build_npm.ts "$TAG"
        env:
          TAG: ${{steps.get_tag_name.outputs.TAG}}

      - name: Publish to NPM
        run: cd npm && npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
