# This workflow runs a `deno check` against slack sample apps
name: Samples Integration Type-checking

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  samples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sample:
          - slack-samples/deno-issue-submission
          - slack-samples/deno-starter-template
          - slack-samples/deno-blank-template
          - slack-samples/deno-message-translator
          - slack-samples/deno-request-time-off
          - slack-samples/deno-simple-survey
        deno-version:
          - v1.x
          - v2.x
    permissions:
      contents: read
    steps:
      - name: Setup Deno ${{ matrix.deno-version }}
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Checkout the sdk
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: ./deno-slack-sdk
          persist-credentials: false

      - name: Checkout the ${{ matrix.sample }} sample
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ matrix.sample }}
          path: ./sample
          persist-credentials: false

      - name: Set imports.deno-slack-sdk/ to ../deno-slack-sdk/src/ in imports
        run: >
          deno run
          --allow-read --allow-write 
          deno-slack-sdk/scripts/imports/update.ts 
          --import-file "./sample/deno.jsonc"
          --sdk "./deno-slack-sdk/"

      - name: Deno check **/*.ts
        working-directory: ./sample
        run: find . -type f -regex ".*\.ts" | xargs deno check -r
